@media (max-width: 768px){
    .view_top1{
        margin-left: 5%;
        margin-top: 23px !important;
    }
    .user_profile_header_left {
        margin-left: 15px !important;
        margin-top: 10px !important;
    }
    .view_pateint_header_bg {
        height: 85px !important;
    }
    /* .padding_frontendlist_body{
        margin-top: 40%;
    } */
    /* .popup-bg .overlay-content{
        top: 35% !important;
    } */
    .cmgt_peldges_list .cmgt_peldges_date{
        font-size: 12px !important;
    }
    .cmgt-group-list-total-width{
       width: 20% !important;
    }
    .between_border123{
        display: none;
    }
    .main_div{
        margin: -80px 0px 0px 0px !important;
    }
    .fc .fc-view-harness-active > .fc-view{
        height: 85% !important;
    }
    .panel-body .table-responsive{
        overflow-x: auto !important;
    }
    .table-responsive{
        overflow-x: auto!important;
    }
    .action .cmgt-user-dropdown
    {
        position: relative;
        right: 32px; 
    }
    #gift_list_wrapper .action .cmgt-user-dropdown,#song_list_wrapper .action .cmgt-user-dropdown , #sermon_list_wrapper .action .cmgt-user-dropdown
    {
        position: unset !important;
        right: unset !important; 
    }
    .addform_frontend_mt{
        margin-top: 14%;
    }
    .report .main_home_page_div{
        margin-top: 0% !important;
    }
    .dt-button.buttons-csv.buttons-html5, .dt-button.buttons-print
    {
        display: none !important;
    }
    #pastoral_list_wrapper .action .cmgt-user-dropdown, #transaction_viewlist_wrapper  .action .cmgt-user-dropdown
    {
        position: relative;
        right: 0px !important;
    }
    .margin_top_15_per_res
    {
        margin-top : 15% !important;
    }
    .margin_bottom_0_res{
        margin-bottom : 0 !important;
    }
    .cmgt_popup_table .width_50
    {
        width: 100% !important;
    }
}


@media (min-width: 766px) and (max-width: 800px){
    /* .padding_frontendlist_body{
        margin-top: 10% !important;
    } */
    .dataTables_filter{
        width: 50% !important;
    }
    .dataTables_filter input{
        width: 100% !important;
    }
    .table-responsive .dataTables_wrapper .dataTables_info{
        margin-left: 0 !important;
    }
    .dataTables_wrapper .dataTables_filter{
        margin-top: 0 !important;
    }
    .table-responsive{
        overflow-x: hidden !important;
    }
}
.multiselect-native-select .dropdown .dropdown-toggle{
    height: 48px !important;
}
.input input[type=email]+label, .input input[type=number]+label, .input input[type=password]+label, .input input[type=text]+label, .input textarea+label{
    top: 12px!important;
}
.dropdown-menu.show{
    margin: 13px 0px 0 -5px !important;
}
@media screen and (max-width: 991px) and (min-width: 921px)
{
    .cmgt-frontend-navigation{
        margin-top: 165px;
    }
}
@media screen and (max-width: 920px) and (min-width: 820px)
{
    .frontend_dashboard_margin {
        margin-top: 19%!important;
    }
}
@media screen and (max-width: 819px) and (min-width: 700px)
{
    .frontend_dashboard_margin {
        margin-top: 21%!important;
    }
}
@media screen and (max-width: 699px) and (min-width: 576px)
{
    .frontend_dashboard_margin {
        margin-top: 27%!important;
    }
}
@media screen and (max-width: 575px) and (min-width: 541px)
{
    .frontend_dashboard_margin {
        margin-top: 40%!important
    }
}
@media screen and (max-width: 540px) 
{
    #cmgt_profile_cover{
        margin-top: 20%!important;
    }  
    .attance_frontend_mt{
        /* margin-top: 20%; */
    }
    #frontend_syn_mb_15
    {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 414px) 
{
    #cmgt_profile_cover{
        margin-top: 40%!important;
        max-height: 145px;
    }
    .profile-image .profile-image-container{
        margin-top: 0!important;
    }
    .profile-image {
        margin: 95px 0px 0px!important;
    }
    #main-wrapper .cmgt_row_top {
        margin-top: 10%!important;
    }
    #font_size_11px{
        font-size: 11px!important;
    }
    /* .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
        padding: 0px 0px 6px 0;
    } */
    /* ul.panel_tabs li {
        padding-top: 5px;
    } */
    .padding_frontendlist_body .margin_left_1per {
        margin-left: 5%;
        margin-right: 5%;
    }
    ul.panel_tabs li {
        padding-top: 17px;
        /* margin-top: 0!important; */
    }
}
@media (min-width: 818px) and (max-width: 850px){
    .table-responsive{
        overflow-x: auto !important;
    }
}
@media screen and (max-width: 375px) 
{
    .frontend_dashboard_margin {
        margin-top: 58%!important
    }
    .modal-body #invoice_print {
        max-height: 265px !important;
    }
    .profile-image {
        margin: 95px 0px 0px!important;
    }
    #main-wrapper .cmgt_row_top {
        margin-top: 10%!important;
    }
}
@media screen and (max-width: 280px) 
{
    .frontend_dashboard_margin {
        margin-top: 72%!important
    }
}
@media only screen and (max-width: 375px){
    .cmgt-cards-indicators li {
        font-size: 9px!important;
    }
}
@media only screen and (max-width: 414px){
    .padding_frontendlist_body{
        margin-top: 10%;
    }
    .addform_frontend_mt{
        margin-top: 40%;
    }
    .view_patient_main #body_area {
        margin-top: 15%!important;
    }
    #frontend_pledge_form_mt{
        padding-top: 8%;
    }
    .panel-body form.cmgt_frontend_songview_mt{
        margin-top: 5%!important;
      }
      .profile-image {
        margin: 95px 0px 0px!important;
    }
    .attance_mt_0{
        margin-top: 0%!important;
    }
    .attance_frontend_mt{
        /* margin-top: 40%; */
    }
    .attance_frontend_mt .margin_left_1per {
        margin-left: 5%;
        margin-right: 5%;
    }

}
@media only screen and (max-width: 991px)
{
    .fc-daygrid-more-link.fc-more-link {
        font-size: 8px;
    }
}
@media screen and (max-width : 912px) and (min-width : 820px) 
{
    .fc .fc-scrollgrid-liquid {
        height: 85%;
    }
}
@media only screen and (max-width: 820px)
{
    .cmgt_gift_bt .cmgt_choose_btn_width {
        width: 85%!important;
    }
}
@media only screen and (max-width: 768px)
{
    .cmgt_gift_bt .cmgt_choose_btn_width {
        width: 90%!important;
    }
}
@media only screen and (max-width: 414px){
    .cmgt_gift_bt .cmgt_choose_btn_width {
        width: 68%!important;
    }
}
@media only screen and (max-width: 375px){
    .cmgt_gift_bt .cmgt_choose_btn_width {
        width: 75%!important;
    }
}