body{
  font-style: normal!important;
  font-family: Poppins!important;
  background: #FFFFFF!important;
}
/*        --------- Scroll Bar CSS ------------*/
*::-webkit-scrollbar {
  width: 10px;
  border-radius:10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius:10px;       /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #888;    /* color of the scroll thumb */
  border-radius:10px;     /* roundness of the scroll thumb */
 /* border: 1px solid #000066;  // creates padding around scroll thumb */
}
.desktop.overlayView.active{
  background: #28394C !important;
}
/*        --------- Scroll Bar CSS ------------*/
.cmgt-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.page-inner{
  background: #FFFFFF!important;
  min-height: 950px!important;
}
#main_sidebar-bgcolor{
  background-color: #149a91;
  height: auto;
}
.cmgt-header .cmgt-logo{
    background-color: #149a91;
    float: left;
    height: 80px;
    width: 100%;
    text-decoration: none;
    padding: 10px 18px;
}
.cmgt-navigation li a {
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #149a91;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
}
.dropdown-right-icon,.dropdown-down-icon{
  float: right !important;
  margin-top: 5px;
  margin-right: 5px;
}
/* #sidebar li .submenu {
    position: absolute;
    left: 100% !important;
    top: -7px;
    min-width: 240px;
} */
#navbarNav li .active{
  background-color: #F9FDFF;
} 
.cmgt-navigation li a:hover,
.cmgt-navigation li .cmgt-droparrow:hover+a {
  background-color: #F9FDFF;
  color: #5B5D6E;
}
.cmgt-navigation li .active{
  background-color: #F9FDFF;
  color: #5B5D6E;
}
.cmgt-navigation li {
  margin-bottom: 0;
}
.card-icon .img-top {
  display: none;
  position: absolute;
  /* top: 13px;
  z-index: 99; */
} 
.modal-backdrop.fade.show{
  height: auto !important;
}
.cmgt_category_btn{
  width: 100%;
}
#navbarNav .card-icon a:hover .img-top{
  display: inline;
}
#navbarNav .card-icon .active .img-top{
  display: inline;
}
#sidebar li .submenu {
  /* background-color: #149a91; */
  border: unset;
}
#sidebar .dropdown-menu li a {
  padding: 12px;
  text-decoration: none;
  background: #F2F5FA;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #5B5D6E;
}
#sidebar .dropdown-menu li a:hover{
  color:#36A8EB;
}
.padding_0
{
padding:0px !important;
}
.cmgt-leftheader{
  float: left;
}
.cmgt-customeMsg {
    font-size: 26px;
    color: #333333;
    font-weight: 400;
    margin-top: 20px;
}
.cmgt-menuIcon:before,
.cmgt-customeMsg:before {
  content: '';
  width: 1px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.cmgt-righthead {
  float: right;
} 
.cmgt-righthead ul{
  margin-top: 8px;
}
.cmgt-navigation li .icon {
  margin-bottom: 4px;
}
#sidebar .cmgt-navigation span{
  margin-left: 10px;
}
#sidebar .dropdown-menu span{
  margin-left: 20px;
}
.cmgt-search-bar{
  float: left;
}
.cmgt-right-heder{
  background-color: #FFFFFF;
}
.cmgt-header .cmgt-right-heder{
  padding: 1px 25px;
}
.cmgt-right-heder .row h3{
    margin-top: 30px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 26px;
    color: #333333;
    margin-right: 10px;
}
.cmgt-right-heder-search .cmgt-header-add-btn{
    margin-top: 30px;
    margin-left: 15px;
    float: right;
}
.cmgt-right-heder .search {
  position: relative;
  margin-top: 30px
}
.cmgt-right-heder .search input {
  text-indent: 35px;
  background: #F2F5FA;
  height: 56px;
  color: #818386;
  border: unset;
  border-radius: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #818386;
}
.cmgt-right-heder-search .search img.search-img{
  position: absolute;
  left: 3.33%;
  top: 34.35%;
}
.cmgt-setting-notification-bg img{
  padding: 15px;
  background-color: #F2F5FA;
}
.cmgt-setting-notification a{
  color: white;
  text-decoration: none;
  box-shadow: unset;
}
.cmgt-right-heder-list-link{
  margin-right: 20px;
}
.between_border123 {
  border: 1px solid #e1e3e5d1;
}
.cmgt-right-heder .cmgt_title_add_btn{
  display: inline-flex;
}
.cmgt-right-heder .cmgt_title_add_btn a{
    margin-top: 30px;
}
.row .four_card_div {
  padding-left: 24px;
}
.cmgt-card {
    width: 45.9% !important;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 10%);
    margin-bottom: 25px;
}
.cmgt_card_2 {
  /* margin-left: 25px; */
}
.cmgt-setting-notification{
  margin-top: 20px;
  float: right;
}
.cmgt-right-heder-list-link a{
  box-shadow: none;
  margin-left: 22px;
}

.cmgt-user-dropdown{
    float: right;
    margin-right: 30px;
    display: inline-block;
}
.cmgt-user-dropdown .dropdown-menu{
  margin-top: 20px;
}
.cmgt-user-dropdown ul{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.dropdown-menu.show {
  margin: -4px 0px 0 0px !important;

}
.dropdown-menu:before {
  top: -8px !important;
  left: 145px !important;
}
.dropdown-menu:after {
  top: -8px !important;
  left: 145px !important;
}
.cmgt-right-heder-search{
  padding: 0;
}
#cmgt-Search-filter{
  position: absolute;
  top: 20px;
  right: 20px;
}
#card-member-bg{
    background: #EBFAFA;
}
#card-accountant-bg{
  background: #FFF4EE;
}
#card-notice-bg{
  background: #FFFAEF;
}
#card-message-bg{
  background: #ECFAF2;
}
.cmgt-card .cmgt-card-member-bg{
  margin-top: 27px;
  width: 70px;
  height: 70px;
}
.cmgt-card-member-bg img{
  padding-top: 22px;
}
.cmgt-card-number h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin-top: 10px;
}
.cmgt-card-title{
    /* font-family: 'Poppins';
    font-style: normal; 
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #818386;
    margin-top: 10px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #818386;
}
.cmgt-line-chat{
    background:#FFFFFF;
    height: 422px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 10%);
}
.cmgt-line-chat h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #333333;
}
#cmgt-line-chat-p{
  padding: 20px 20px;
}
.cmgt-line-chat a{
  float: right;
}
.cmgt-member-chart{
  height: 230px;
  width: 300px;
  margin: auto;
}
.cmgt-reservation-table .remainder_date_pr span{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #44CB7F;
  padding: 0 3px;
}
.cmgt_peldges_list .remainder_date_pr span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #44CB7F;
  padding: 0 3px;
}
.cmgt-reservation-table .remainder_date_pr{  
  padding: 0;
  background-color: #E3F7EC;
  margin-top: 13px;
}
.cmgt-line-chat-bottom span{
    font-family: 'Poppins';
    font-style: normal;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #333333;
}
.cmgt-line-chat-bottom p{
    font-style: normal; 
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #818386;
}
.cmgt-line-chat-bottom{
  text-align: center;
}
.cmgt-donation-table {
  height: 422px;
}
.cmgt-peldges-table{
  height: 282px;
}
.cmgt-reservation-table{
  height: 282px;
}
#cmgt-donation-table-title-p{
  padding: 20px 20px;
}
.cmgt-donation-table a{
  float: right;
}
.cmgt-donation-table h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #333333;
}
.cmgt-card-no-record-msg{
  padding: 20px;
}
#cmgt-line-chat-right-border{
  border-right: 3px #E1E3E6 solid;
  height: 50px;
}
.line-chart-checkcolor-RegularMember{
    background: #FFB400;
    height: 8px;
    width: 8px;
}
.line-chart-checkcolor-VolunteerMember{
  background: #44CB7F;
  height: 8px;
  width: 8px;
}
.line-chart-checkcolor-FamilyMember{
  background: #D1AFD8;
  height: 8px;
  width: 8px;
} 
.line-chart-checkcolor-FamilyUser{
  background: #8A7B31;
  height: 8px;
  width: 8px;
}
.line-chart-checkcolor-Member{
  background: #7DC5BF;
  height: 8px;
  width: 8px;
}
.line-chart-checkcolor-Accountant{
  background: #E25C8A;
  height: 8px;
  width: 8px;
}
.line-chart-checkcolor-Management{
  background: #A6B3BA;
  height: 8px;
  width: 8px;
}
.line-chart-checkcolor-income{
  background: #AED6F1;
  height: 8px;
  width: 8px;
}.line-chart-checkcolor-expense{
  background: #F2B5AF;
  height: 8px;
  width: 8px;
}.line-chart-checkcolor-NetProfit{
  background: #90BD5D;
  height: 8px;
  width: 8px;
}
.cmgt-donation-record{
  margin: 15px 15px!important;
}
.cmgt-donation-record-time{
    width: 31% !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #333333;
}
.dataTables_wrapper .dataTables_filter input
{
  font-family: 'Poppins'!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-size: 15px!important;
  line-height: 22px!important;
  color: #818386!important;
  border-radius: 0!important;
}
.table-responsive table a:hover {
  color: #333333;
}
.cmgt_donation_name_date {
  width: 60%!important;
}

/* list page defult img bg-color - start */
.cmgt_list_page_image_color0{
  background-color: #44CB7F;
}
.cmgt_list_page_image_color1{
  background-color: #FDC8A6;
}
.cmgt_list_page_image_color2{
  background-color: #FF9054;
}
.cmgt_list_page_image_color3{
  background-color: #BFBFBF;
}
.cmgt_list_page_image_color4{
  background-color: #FFBB5D;
}
.cmgt_list_page_image_color5{
  background-color: #3A63DE;
}
.cmgt_list_page_image_color6{
  background-color: #3a63de8e;
}
.cmgt_list_page_image_color7{
  background-color: #ff9054ab;
}
.cmgt_list_page_image_color8{
  background-color: #36A8EB;
}
.cmgt_list_page_image_color9{
  background-color: #004481;
}
/* list page defult img bg-color - end */

/* dashboard page donaton card border-color - start */
.cmgt_donation_record_time_color0{
  border-right: 4px #37CFD1 solid;
}
.cmgt_donation_record_time_color1{
  border-right: 4px #FF9054 solid;
}
.cmgt_donation_record_time_color2{
  border-right: 4px #44CB7F solid;
}
.cmgt_donation_record_time_color3{
  border-right: 4px #FFB400 solid;
}
.cmgt_donation_record_time_color4{
  border-right: 4px #4D4D4D solid;
}
/* dashboard page donaton card border-color - end */

.cmgt-donation-record-donatname{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  color: #818386;
  border-bottom:unset;
}
.cmgt-donation-record-donat-date{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
}
.cmgt-group-list{
  height: 282px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 10%);
  margin-bottom: 18px;
}
.cmgt-ministry-list{
  height: 282px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 10%);
}
#cmgt-card-header{
  font-style: normal;
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #333333 !important;
}
.cmgt-calendar{
  height: 590px;;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 10%);
}
.cmgt-calendar .row{
  padding: 20px 20px 0 20px;
}
.cmgt-cal-py{
  padding: 0 10px;
}
.cmgt-calendar .cmgt-card-head {
  width: 100%;
   display: inline-block;
} 
.cmgt-group-list-heder h3{
  font-style: normal;
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #333333 !important;
}
.cmgt-group-list-heder{
  padding: 20px 20px;
} 
.cmgt-group-list a{
  float: right;
}
.cmgt-ministry-list a{
  float: right;
} 
.cmgt-group-list-group-title span{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px; 
  color: #333333; 
}
.cmgt-group-list-group-name{
  display: inline;
}
.cmgt-group-list-group-name span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    margin-left: 10px;
    color: #333333;
    cursor: pointer;
}
.unit {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #818386;
}
.cmgt-group-list-total-group span{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #44CB7F;
  background: #d6f6e4;
  float: right;
  width: 40px;
  text-align: center;
  height: 34px;
  padding-top: 5px;
}
.cmgt-group-list-record{
  padding: 10px 30px;
}
.cmgt-group-list-record img.cmgt-grouplist-img{
  border-radius: 13px;
}
.cmgt-activity-table{
  height: 282px;
}
.cmgt-services-table{
  height: 282px;
}
.panel{
  background: #FFFFFF!important;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1)!important;
  margin-bottom: 25px!important;
}
.panel-title {
  width: 100%;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #333333 !important;
}
/* .panel-heading .panel-title{
  line-height: 15px;
} */
.table th {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  color: #333333;
}
.calendar-event {
  border-bottom: unset;
}
.panel-heading.activities {
  border-top: unset !important;
}
.panel-heading {
  border-bottom: unset!important;
}
.panel-heading.service {
  border-top: unset!important;
}
.calendar-event p.Bold {
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  color: #333333 !important;    
  padding-top: 0px;
}
.calendar-event p.cmgt_description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 15px; */
    color: #333333;
    opacity: 0.6;
}
.cmgt_reservation_remainder_title_pr.calendar-event p.Bold{
  width: 260px!important;
}
.panel-heading.res_list {
  border-top: unset!important;
}
.panel-heading.pastoral_list {
  border-top:unset!important;
}
.panel-heading.sell_gift_list {
  border-top:unset!important;
}
.panel-heading.invoice {
  border-top: unset!important;
}
.services_btn .table>tbody>tr>td, .services_btn .table>thead>tr>th {
  padding: 14px!important;
}
.calendar-event {
  padding: 10px 17px!important;
}
.calendar-event {
  margin-bottom: 0px!important;
}
.cmgt-sellgift-padding td{
  padding: 8px!important;
}
.cmgt-footer p {
  margin: 29px 45px;
  font-weight: normal;
  font-size: 15px;
  align-items: center;
  text-align: center;
  color: #aaa1a1;
}
.cmgt-footer {
  width: 100%;
  display: inline-block;
  background: #F2F5FA;
}
.cmgt-footer p a {
  color: #5c9dc4;
  text-decoration: none;
}
#cmgt-message-list{
  height: 282px;
}
.cmgt-peldges-table a {
  float: right;
}
.cmgt-peldges-record-time{
  width: 115px!important; 
  font-style: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 35px;
  color: #333333;
}
.cmgt-peldges-record{
  margin: 30px 20px!important;
}
.cmgt-SellGift-table{
  height: 282px;
}
#cmgt-Pastoral-table-height{
  height: 282px;
}
.cmgt-SellGift-record{
  margin: 20px 20px!important;
}
.cmgt-SellGift-table a{
  float: right;
}
.cmgt-message-list-date{
  float: right;
}
.cmgt-message-list-date p{
  padding: 0 8px;
  background-color: #E3F7EC;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  color: #44CB7F;
}
.cmgt-message-list-msgfor{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: #333333;
}
.cmgt-notice-list-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-right: 3px;
  color: #818386;
  border-bottom: none;
}
.cmgt_text_overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cmgt_notice_description{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}
.cmgt-notice-list-start_date{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #149A91;
    padding-right: 5px;
}
.cmgt-notice-list-checkbox .form-check-input[type=checkbox] {
  border-radius: 0;
}
.cmgt-notice-list-end_date{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #3A63DE;
}
.cmgt-notice-list-description{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #333333;
}
.cmgt-notice-list .row{
  height: auto;    
  margin: 10px 18px;
  padding: 6px 0;
  border: 1px solid #E1E3E5;
  border-left: 4px #44CB7F solid;
}
.outer {
  position: absolute;
  width: 300px;
  height: 300px;
}
canvas {
  position: relative;
}
.percent {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 54px;
    align-items: center;
    text-align: center;
    color: #333333;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    top: 30%;
}
.percent1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px; 
    line-height: 70px;
    text-align: center;
    color: #818386;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    bottom: 0;
    top: 38%;
 }
 table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #FFFFFF;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
   background-color: #FFFFFF; 
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1{
  background-color: #FFFFFF; 
}
table.dataTable.no-footer {
  border-bottom: 1px solid #E1E3E6;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #818386;
}
.dataTable tbody .membershipname a{
  color: #333333;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  text-decoration: none;
}
#cmgt-header-addnewbtn a {
  color: white;
  text-decoration: none;
  box-shadow: unset;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: unset;
}
.dataTable tbody .ministryname a{
    color: #333333;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    text-decoration: none;
}
.color_black {
    color: #333333;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.msg_color_black {
  text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #595F69;
}
.table-responsive table tbody tr td{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #595F69;
}
.category_listbox .table-responsive table tbody tr td {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 45px;
  color: #333333;
}
.table-responsive table tbody tr td label{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #595F69;
}
.dataTable tbody td .email_color{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    align-items: center;
    color: #595F69;
}
.cmgt_view_card_mb .email_color{
  font-style: normal;
  font-weight: normal;
  font-size: 14px!important;
  line-height: 14px!important;
  color: #595F69!important;
  word-wrap: break-word;
}
.fa_information_bg {
    color: #DBDBDB;
}
.dataTable tbody td{
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #595F69;
}
/* .dataTable tbody td.email{
  color: #595F69;
  font-weight: normal;
  font-size: 14px;
} */
.cmgt-list-dropdown li a {
  padding: 10px 15px!important;
  color: #595F69 !important;
}
.cmgt-list-dropdown li a i {
  margin-right: 20px!important;
}
.cmgt-list-dropdown .check_in a i {
  margin-right: 15px!important;
}
.cmgt-list-dropdown .cmgt-dropdown-deletelist{
  border-top: 1px solid #E1E3E6;
}
.cmgt-list-dropdown .cmgt-dropdown-deletelist li a{
  color: #FD726A!important;
}
.cmgt_lable_text_color{
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    color: #818386 !important;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #FFFFFF!important;
  border: 1px solid #ebebeb;
  background: #22BAA0!important;
  padding: 9px 15px;
}
#frm-example .dataTables_wrapper .dataTables_paginate .paginate_button.current{
  color: #FFFFFF!important;
  border: 1px solid #ebebeb;
  background: #22BAA0!important;
  padding: 9px 15px;
}
#frm-example .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #289c89!important;
}
#frm-example .dataTables_length {
  width: 11%;
}
.btn-default {
  color: #818386 !important;
  border: 1px solid #dce1e4!important;
}
.dataTable tbody tr td img.img-circle{
    height: 50px;
    width: 50px;
    border-radius: 15px;
}
.upload-profile-image-patient {
  float: right;
}
.save_btn {
  height: 47px!important;
  text-transform: uppercase !important;
  width: 100%!important;
  font-size: 16px!important;
  margin-top: 50px;
}
form .user_form .input input[type=email], .input input[type=number], .input input[type=password], .input input[type=text], .input textarea {
  background: #F2F5FA;
}
form .user_form .btn {
  font-size: 16px;
}
/* .panel-body .user_form .row .formError{
    margin-left: -40%;
} */
.cmgt_addfrom_btn{
    width: 100%;
    height: 52px;
    line-height: 37px!important;
}
.panel-body .user_form .cmgt-addform-detail p{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ADAEB0;
    margin: 13px 0px;
}
.news_letter_sync p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ADAEB0;
}
.newaletter_checkbox_value{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.user_form label 
{
    font-size: 14px !important;
    color: #818386 !important;
    font-family: 'Poppins'!important;
    font-style: normal;
    font-weight: normal;
}
/* .user_form input,textarea 
{
    font-size: 14px !important;
    color: #818386 !important;
    font-family: 'Poppins'!important;
    font-style: normal;
    font-weight: normal;
} */
form .user_form .form-control {
  background: #F2F5FA!important;
}
.form-control {
  color: #818386 !important;
  font-family: 'Poppins'!important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
}
#input-1{
  border: 1px solid #ced4da;
  margin-bottom: 0px;
}
.user_form input[type=text]+label,input[type=text]+label.active {
    font-size: 14px !important;
    color: #818386 !important;
    font-family: 'Poppins'!important;
    font-style: normal;
    font-weight: normal;
}
.user_form input.btn 
{
    color: #FFFFFF !important;
    height: 34px;
    padding: 4px 6px;
    background: #22BAA0!important;
    border: 0;
    font-size: 16px!important;
	margin-top:0px;
}
.cmgt-addform-header-title a{
  text-decoration: none!important;
}
.input input[type=email]:focus, .input input[type=number]:focus, .input input[type=password]:focus, .input input[type=text]:focus, .input textarea:focus {
  background: #F2F5FA!important;
}
input[type=checkbox]:checked:before {
  color: #FFFFFF!important;
}
input[type=checkbox]:checked::before {
  background-color: #4574FF !important;
  color: #FFFFFF!important;
  width: 21px !important;
}
#frm-example input[type=checkbox]:checked::before {
  width: 22px !important;
}
.cmgt_checkbox_befor_color input[type=checkbox]:checked::before {
  width: 22px !important;
  height: 20px;
}
.table-responsive input[type=checkbox]:checked::before {
  width: 22px !important;
}
.checkbox input[type=checkbox]:checked::before {
  width: 22px !important;
  height: 22px;
}
.input[type=checkbox]:checked::before {
  width: 22px !important;
}
.input_height_48px {
  height: 48px !important;
}
.delete_selected {
  background-color: #FD726A !important;
  height: 40px;
}
.btn-niftyhms {
  height: 40px;
}
/* veiw page design css */
.view_pateint_header_bg {
  height: 110px;
  width: auto;
  background: #149a91;
}
.user_profile_header_left {
  margin-left: 30px;
  margin-top: 30px;
}
.user_profile_header_left .row {
  width: 85%;
  float: left;
}
.float_left_width_100 {
  float: left;
  width: 100%;
}
.width_25_per{
  width: 25%!important;
}
.width_20_per{
  width: 20%!important;
}
.width_15_per{
  width: 15%!important;
}
.width_10_per{
  width: 10%!important;
}
.width_12_per{
  width: 12%!important;
}
.width_22_per{
  width: 22%!important;
}
.width_30_per{
  width: 30%!important;
}
.width_35_per{
  width: 35%!important;
}
.user_view_profile_image {
  float: left;
}
.multiselect-selected-text{
    font-size: 15px !important;
    color: #818386 !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
}
.export_import_csv_btn {
  padding: 0 !important;
  width: 36.22px!important;
}
/* .export_import_csv_btn img{
  height: 20px!important;
} */
.export_import_csv_btn {
  border: none !important;
  background-color: white !important;
  height: 40px !important;
  width: 40px!important;
}
form .user_form .cmgt_checkbox_befor_color input{
  background-color: #fff!important;
}
.group_thumbs {
  margin-top: 17px !important;
}
.view_top1 {
  margin-left: 2%;
  margin-top: 18px !important;
}
.float_left {
  float: left;
}
.view_user_name_label {
  float: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  color: #FFFFFF;
}
.view_user_edit_btn {
    float: left;
    height: 32px;
    margin-top: -1%;
    margin-left: 15px;
}
.margin_left_2px {
  margin-left: 2px;
}
.view_user_phone {
  color: #CCDAE6!important;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  margin-top: 1px;
}
.view_top2 {
  color: #818386;
  margin-top: 4%;
  margin-left: 2%;
}
.view_user_doctor_label, .view_user_address_label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}
.doctor_label {
  margin-right: 5%;
}
.view_patient_main #body_area {
  margin-top: 7%;
}
.margin_left_1per {
  margin-left: 1%;
  margin-right: 1%;
}
.nav-tabs>li>a.active, .nav-tabs>li>a:focus .nav-tabs>li>a:hover{
  color: #149a91 !important;
  border-bottom-color: #149a91 !important;
  border-bottom: 3px solid !important;
  text-transform: uppercase;
}
.nav-tabs>li>a {
  font-size: 14px!important;
  font-weight: 600!important;
  letter-spacing: 0.03em!important;
  color: #ADAEB0!important;
}
.padding_left_0 {
  padding-left: 0!important;
}
.view_patient_main #body_content_area {
  padding: 20px 0 10px 0 !important;
  margin: 0 15px;
}
.view_page_header_labels {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  color: #AAAAAA;
  margin-bottom: 10px;
} 
.patient_status_td {
  color: #3AA415;
}
.view_page_content_labels{
  font-style: normal;
  font-weight: normal;
  color: #333333;
  word-break: break-all;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  align-items: center;
}
.view_page_description_label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #AAAAAA;
}
.guardian_description_text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.margin_top_20px {
  margin-top: 20px !important;
}
.guardian_div {
  border: 1px solid #dee2e6;
  padding: 15px;
}
.view_page_label_heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 12px;
  color: #AAAAAA;
}
.guardian_labels {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.margin_top_15px {
  margin-top: 15px !important;
}
.view_card {
  background: #F2F5FA;
  padding: 15px 15px;
  min-height: 100px;
  max-height: 350px;
  overflow: auto;
}
.view_card .cmgt_view_card_mb{
 margin-bottom: 10px;
}
.card_heading_label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #AAAAAA;
}
.view_card .card-event .empty_msg {
  text-align: center;
  margin-top: 10%;
}
.calendar-event .appoinment_card_image {
  height: 50px;
  width: 50px !important;
  border-radius: 10px;
  margin-right: 10px;
}
.calendar-event .appoinment_card_image img {
  border-radius: 30%;
}
.view_card .appoinment_card_image img {
  border-radius: 30%;
}
.view_card .fullname_of_card_title {
  margin-top: 13px;
}
.fullname_of_card_title{
  font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
}
.fullname_of_card_name{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #818386;
}
.cmgt_view_card_mb 
.calendar-event .date_of_card {
  font-size: 13px !important;
  color: #818386 !important;
}
.img_menager_view{
  height: 140px;
  width: 140px;
}
.cmgt-view-page-tab li a{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  border-bottom: unset!important;
  color: #ADAEB0!important;
  background: unset!important;
  text-decoration: unset;
  margin-right: 30px;
  text-transform: uppercase;
}
.user_view_profile_image {
  height: 130px;
  width: 130px;
  border-radius: 38px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
  float: left;
}
.card_body table #grouplist_view_img{
  border-radius: 15px;
  margin-bottom: 10px;
}
.cmgt_padding_0px{
  padding: 0!important;
}
.card_body table .cmgt_grouplist_view_img{
  width: 65px;
}
.card_body table #grouplist_view_text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}
.cmgt-checkbox_width_10px{
  width: 10px !important;
  padding-left: 0px!important;
}
.cmgt_pr_0px{
  padding-right: 0px!important;
}
.cmgt-checkbox_width_50px{
  width: 50px;
}
table.dataTable tbody th, table.dataTable tbody td {
  padding: 10px 10px;
}
.btn-niftyhms label {
  text-transform: uppercase;
}
a {
  box-shadow: unset!important;
}
.sub_chk {
  background-color: #E1E3E5 !important;
}
#main-wrapper > .row {
  margin: 0;
}
#main-wrapper {
  margin: 8px 11px!important;
}
.main_row_table_div{
  padding: 0!important;
}

.guardian_div label{
  display: inline-block;
}
.dataTables_filter {
  width: 50%;
}
.dataTables_filter label {
  width: 100%;
}
.dataTables_filter input {
  width: 85%;
  height: 55px;
  background-color: #F2F5FA !important;
  border: 1px solid #8c8f9400 !important;
  padding: 10px!important;
  border-radius: 0!important;
}
#update-nag, .update-nag {
  display: none!important;
}
.panel>.row>div:first-child {
  padding-left: 0!important;
  padding-right: 0!important;
}
.panel>.row>div:last-child {
  padding-left: 0!important;
  padding-right: 0!important;
}
.cmgt_activity_list_img{
  width: 52px !important;
  border-radius: 16px;
  height: 52px;
  margin-right: 15px!important;
}
.cmgt_service_list_img{
  width: 52px !important;
  border-radius: 16px;
  height: 52px!important;
  padding-top: 14px;
}
.cmgt_service_mr_5{
  margin-left: 5%;
}
.cmgt_service_text_title{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 10px;
  color: #333333;
  word-break: break-all;
  cursor: pointer;
}
.cmgt_service_list_text_des{
  font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    opacity: 0.6;
    line-height: 10px;
}
.cmgt_activity_list_img img{
    width: 24px;
    height: 24px;
    margin-top: 14px;
}
.cmgt_service_list_img img{
  width: 24px;
  height: 24px;
}
.cmgt_service_list .cmgt_activity_date{
  margin-top: 15px;
  float: right;
}
.row.cmgt_service_list{
  margin: 13px 15px;
}
.cmgt_activity_list .cmgt_activity_display{
  display: inline-flex;
}
.row.cmgt_activity_list{
  margin: 10px 15px;
}
.cmgt_activity_list_text{
  margin-top: 5px;
}
.cmgt_activity_list_text .cmgt_activity_text_title{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: #333333;
  display: inline;
  cursor: pointer;
}
.cmgt_activity_list_text .cmgt_activity_list_text_des{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #333333;
  opacity: 0.6;
  line-height: 20px;
}
span.cmgt_activity_date{
    color: #44CB7F;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.cmgt_peldges_list .cmgt_peldges_date{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #44CB7F;
}
.calendar-event .cmgt_reservation_remainder_title_pr {
  width: 63%!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cmgt_reservation_description{
    line-height: 15px;
}
.calendar-event p.remainder_description_pr{
  width: 340px!important;
}
.panel .panel-heading+.panel-body {
  padding: 10px 8px !important;
}
.calendar-event .cmgt_pastoral_remainder_title_pr {
  width: 80%!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cmgt_message_list .calendar-event .remainder_date_pr {
  padding: 0;
  background-color: #E3F7EC;
  margin-top: 13px;
}
.cmgt_message_list .remainder_date_pr span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #44CB7F;
  padding: 0 3px;
}
.calendar-event .cmgt_message_remainder_title_pr {
  width: calc(100% - 185px)!important;
}
.cmgt_peldges_list .remainder_date_pr{
  padding: 0;
  background-color: #E3F7EC;
  margin-top: 13px;
}
.cmgt_Sell_Gift_list .cmgt_Sell_Gift_date{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #818386;
}
.cmgt_Sell_Gift_list .remainder_date_pr {
  padding: 0;
  background-color: #E3F7EC;
  margin-top: 13px;
}
.cmgt_Sell_Gift_list .remainder_date_pr span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #44CB7F;
  padding: 0 3px;
}
/* listpage css */
#main-wrapper .row .main_home_page_div {
  box-shadow: none !important;
}
.panel-white .panel-body {
  padding-top: 10px !important;
}
.main_home_page_div .panel-body {
    padding: 0px 7px 20px 7px !important;
} 
.dataTables_info, .panel-body .table-responsive .dataTables_wrapper .dataTables_paginate .previous, .panel-body .table-responsive .dataTables_wrapper .dataTables_paginate .next {
  color: #818386 !important;
  font-size: 15px;
  font-weight: 400;
} 
.table-responsive .dataTable{
  padding-top: 20px;
}
.panel-body button {
  margin-right: 10px;
}
.delete_all_button {
  border: none !important;
  background-color: white !important;
}
.print-button button img{
  height: 40px;
  width: 40px;
}
.print-button-app button img{
  height: unset;
  width: unset;
}
.cmgt-view-page-tab.panel_tabs li {
  padding-left: 0px!important;
}
.dataTables_length {
  width: 9%;
}
.dataTables_length {
  display: block !important;
}
.dataTables_length select {
  width: 75px !important;
  height: 50px !important;
  text-align: center !important;
  background-color: #F2F5FA !important;
}
.dataTables_length select {
  border: none !important;
}
.dataTables_wrapper .dataTables_info {
  clear: unset !important;
  font-size: 15px;
  display: block;
}
.dataTables_info, .panel-body .table-responsive .dataTables_wrapper .dataTables_paginate .previous, .panel-body .table-responsive .dataTables_wrapper .dataTables_paginate .next {
  color: #818386 !important;
}
.cmgt_print_btn_p0{
  padding: 10px 10px 10px 0px;
  margin-top: -4%;
}
#frm-example .cmgt_print_btn_p0 {
  margin-top: -8%;
}
.dataTables_wrapper {
  position: unset !important;
}
.dataTables_wrapper {
  position: unset !important;
}
.search_btn_view_page {
  display: none;
}
table.dataTable {
  width: 100% !important;
  border-bottom: 1px solid #E1E3E5 !important;
  margin-bottom: 10px !important;
}
.width_50px {
  width: 50px;
}
.width_50
{
  width:50% !important;
  float: left;
}
.width_5_per{
  width: 5%;
}
.method_status_td {
  color: #3AA415;
}
label{
  cursor: default !important;
}
.multiselect-native-select .dropdown .dropdown-toggle {
  width: 100% !important;
    height: 50px;
}
.multiselect .caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown .dropdown-toggles{
    width: 100% !important;
    height: 52px;
}
#reccurence-div #weekly_div input[type=checkbox]:checked::before {
  width: 22px!important;
}
#reccurence-div #weekly_div input[type=checkbox]{
  background: #FFFFFF!important;
}
.input-group-append .multiselect-clear-filter{
  display: none;
}
.input-group .input-group-prepend{
  display: none;
}
.multiselect-native-select .dropdown-menu.show {
  width: 100%;
}
.multiselect-filter input.multiselect-search{
  background: #adb1b9!important;
}
.multiselect .multiselect-selected-text{
  float: left;
}
.multiselect .caret{
    float: right;
    margin-top: 10px;
}
#upload_user_avatar_preview .image_preview_css{
  border-radius: 30px;
  margin-top: 15px;
}
form .user_form #cmgt_volunteer_bg{
  background:#FFFFFF!important;
}
.form-body select {
  padding-left: 15px !important;
}
.cmgt_display select {
  -webkit-appearance: button !important;
}
.wp-core-ui select {
  border: 1px solid #dce1e4 !important;
}
.wp-admin select {
  height: 48px;
}
.form-control.upload-profile-image-patient{
  height: 48px;
}
button.btn{
  height: 34px;
  padding: 4px 8px;
}
button.btn-niftyhms{
  height: 40px;
}
.cmgt_replay_message_btn{
  height: 40px!important;
  padding: 4px 13px!important;
}
.btn_height{
  height: 48px!important;
}
.select2-choice{
  margin: 2px 0;
}
/* input[type=text]+label{
  top: 15px!important;
} */
.input input[type=email]+label, .input input[type=number]+label, .input input[type=password]+label, .input input[type=text]+label, .input textarea+label {
  top: 15px!important;
}
.input input[type=email]+label.active, .input input[type=number]+label.active, .input input[type=password]+label.active, .input input[type=text]+label.active, .input textarea+label.active{
  top: 10px!important;
}
.input textarea+label.active {
  transform: translate(-12.5%,-1.5em) scale(.9,.9)!important;
  background-color: #fff;
  padding: 0 10px;
  margin-left: 5px;
}
/* .input textarea+label.active {
  margin-left: 5px;
} */
.padding_radio {
  padding: 8px 8px;
}
.form-group .margin_left_0 {
  margin-left: 0 !important;
}
.margin_right_20px {
  margin-right: 20px;
}
.cmgt-group-list-total-group.cmgt_view_count_mt{
  margin-top: 8px;;
}
.user_form .custom-top-label{
  margin-left: 15px!important;
  margin-top: 0px;
}
.Absent{
  color: red!important;
}
.Present{
  color: #3AA415;
}
.more_img_mr{
  margin-right: -10px;
}
.margin_top_7per{
  margin-top: 7%!important;
}
#body_content_area .table-responsive .dataTable {
  padding-top: 0;
}
.cmgt_famliy_card_dis{
  display: grid!important;
}
.margin_buttom_0{
  margin-bottom: 0!important;
}
.profile_image_prescription .prescription_tag {
  padding: 13px;
  width: 50px !important;
  border-radius: 16px;
  height: 50px;
  margin-bottom: 0;
}
.profile_image_prescription img.massage_image{
  height: 24px;
  width: 24px;;
}
.cmgt_main_popup .cmgt_popup_header{
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #333333;
}
/* popup design css- hitesh  */
.modal-header {
  display: block !important;
  overflow: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0!important;
  height: 55px;
  font-size: 14px;
  font-weight: 600;
}
.margin_bottom_20 {
  margin-bottom: 20px;
} 
.badge.badge-danger {
    background-color: white !important;
    color: #333333 !important;
    font-size: 20px!important;
    text-decoration: unset;
    padding: 10px;
}
.badge {
  border-radius: 0px !important;
}
.badge {
  height: auto !important;
}
.modal-title {
  font-size: 26px !important;
  color: #333333;
  font-weight: 500;
}
.cmgt_popup_table .popup_label_heading{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #818386;
    opacity: 0.65;
}
.cmgt_view_sermon .popup_label_heading{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #818386;
  opacity: 0.65;
}
.cmgt_view_sermon .popup_label_value {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.cmgt_popup_table .popup_label_value{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.cmgt_box_unset{
  box-shadow: unset!important;
}
.cmgt_popup_table tbody tr{
  padding: 20px 0px!important;
}
.cmgt_popup_header_img{
  margin-right: 10px;
  height: 28px!important;
  width: 28px!important;
  margin-left: 5px;
}
.overlay-content {
  border-top: unset;
  border-radius: unset;
  left : 40% !important;
}
#category_form .cmgt_category_btn{
    height: 50px!important;
}
#category_form .cmgt_category_input{
  height: 50px!important;
}
.category_listbox .table tr{
  background: #FFFFFF !important;
  border: 1px solid #E1E3E5 !important;
  box-sizing: border-box !important;
  margin-bottom: 15px;
}
.popup_width_90 {
    width: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    color: #333333;
}
.category_list{
  margin: 0 10px;
}
.category_list .modal-header {
  padding: 10px 0;
  height: 55px;
}
#venue_view .modal-header {
  padding: 10px 0;
  height: 55px;
}
.overlay-content #venue_view{
  padding: 0 10px;
}
.panel-body#cmgt_padding_10px{
  padding: 10px!important;
}
.cmgt_font_size_16px{
  font-size: 16px!important;
}
.notice-success, div.updated {
  border-left-color: #149A91!important;
}
#message_template{
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    border-left-color: #149A91!important;
}
.modal .modal-content{
  margin-top: 5%;
}
.table-responsive .table .cmgt_pl_0px{
  padding-left: 0px!important;
}
table .cmgt_pl_0px{
  padding-left: 0px!important;
}
.nav-tab-wrapper .nav-tab-active, .nav-tab-active:hover, a.nav-tab:hover, a.nav-tab:focus {
  border-bottom: 0px;
  text-decoration: none;
  color: #149a91 !important;
  border-bottom-color: #149a91 !important;
  border-bottom: 3px solid !important;
  text-transform: uppercase;
  border: unset;
  background-color: #fff;
}
.nav-tab {
  float: left;
  border: unset;
  border-bottom: none!important;
  padding: 0px 0px 10px 0;
  margin: 0 20px 0px 0;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.71428571;
  font-weight: 600;
  letter-spacing: 0.03em!important;
  background: unset;
  color: #ADAEB0;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: unset!important;
  white-space: nowrap;
}
.modal-body .nav-tab {
  border: unset;
  background: #ffff;
  text-transform: uppercase;
  color: #ADAEB0;
  cursor:pointer;
}
.cmgt_panel_body_access.panel-body{
  padding-top: 0!important;
}
.cmgt_checkbox_befor_color .top1{
  margin-top: 5px;
}
.form-body .cmgt_checkbox_befor_color .form-control {
  margin-bottom: 5px;
}
.cmgt_view_document_color{
  font-size: 13px!important;
}
.cmgt_form_description.form-control{
  padding: 0 10px!important;
}
textarea.form-control{
  height: 46px;
}
.input .cmgt_form_description.form-control textarea:focus{
  border-color: #FFFFFF;
}
.cmgt_checkin_popup .cmgt_pop_header_color{
    font-style: normal;
    font-size: 14px!important;
    color: #818386!important;
    opacity: 0.65!important;
}
.cmgt_checkin_popup .popup_label_value{
    font-size: 16px;
    color: #333333!important;
}
.inbox-widget .inbox-item .inbox-item-author {
  color: #333333;
  font-weight: normal!important;
  font-size: 15px;
  line-height: 48px;
}
.inbox-widget .inbox-item img {
  height: 50px;
  width: 50px!important;
  border-radius: 15px;
}
.slimScrollDiv .inbox-widget {
  height: auto!important;
}
.slimScrollDiv.inbox-widget {
  height: 260px!important;
}
.modal-title {
  font-size: 24px !important;
}
.badge.badge-danger {
  padding: 8px;
}
/* 
element.style {
} */
.cmgt-nav-tab-wrapper a.nav-tab {
  margin: 0 30px 0 0;
  padding: 10px 0;
}
.cmgt_popup_box_shadow{
  box-shadow: 0 0 5px rgb(0 0 0 / 25%);
}
.income_deopdown_div img {
  height: 48px;
  width: 48px;
  margin: 0;
  cursor: pointer!important;
}
.frontend_income_deopdown_div img {
  height: 48px;
  width: 48px;
  margin-right: 0;
}
.margin_top_15 {
  margin-top: 25px !important;
}
/* .nav-tab-wrapper .panel_tabs>li>a {
  margin: 10px 50px 0 0 !important;
} */
/* .list-unstyled.mailbox-nav.nav-tab-wrapper{
    border-bottom: 1px solid hsl(0, 0%, 80%);
    padding-bottom: 0;
} */
.list-unstyled.mailbox-nav.nav-tab-wrapper .active a, .mailbox-nav li a:hover {
  color: #36A8EB;
  border-bottom: 3px solid !important;
  text-transform: uppercase;
  border: unset;
  padding-top: 13px;
}
.list-unstyled.mailbox-nav.nav-tab-wrapper a{
  margin-right: 30px;
}
.cmgt_mailbox-content.mailbox-content {
  padding: 40px 0;
}
.delete_btn_css {
    height: 40px;
    background: #22BAA0 !important;
    width: 100% !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    text-transform: uppercase !important;
}
.input_height_75px {
  height: 110px !important;
}
#accordionExample .accordion-item {
  border: 1px #E1E3E5 solid !important;
  border-left: 4px solid #22BAA0 !important;
}
.accordion-body.panel-body{
  padding: 20px 13px 20px 20px !important;
}
.first_hed {
  font-family: 'Poppins'!important;
  text-transform: uppercase;
  color: #ADAEB0;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  letter-spacing: 0.02em;
  padding-bottom: 15px;
  margin: 0 10px;
}
#access_right_form .menu-label {
  font-weight: bold;
  line-height: 36px;
}
.access_right_menucroll {
  overflow: scroll;
  height: 530px;
  padding: 0px!important;
  margin-right: 0px;
}
#access_right_form .row {
  /* margin: 0; */
}
h2.cmgt-nav-tab-wrapper.nav-tab-wrapper{
  margin: 0 8px;
}
.panel.general-panel-white{
  box-shadow: none!important;
}
.panel.cmgt_panel_gift{
  box-shadow: none!important;
}
.cmgt-frontend-navigation li a:hover,
.cmgt-frontend-navigation li .cmgt-droparrow:hover+a {
  background-color: #F9FDFF;
  color: #5B5D6E;
}
.cmgt-frontend-navigation li a {
  font-weight: normal;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #149a91;
  display: block;
  padding: 12px 20px;
  text-decoration: none;
}
.cmgt-frontend-navigation li .active{
  background-color: #F9FDFF;
  color: #5B5D6E;
}
.cmgt-frontend-navigation li {
  margin-bottom: 0;
}
.cmgt-frontend-navigation li .icon {
  margin-bottom: 4px;
}
#sidebar .cmgt-frontend-navigation span{
  margin-left: 10px;
}
/* .formError{
  left: 30px!important;
} */
/* .form-group input.form-control{
    height: 42px;
} */
.placeholder_color::placeholder
{ 
  color: #818386 !important;
}
.cmgt_group_member_dlt_btn img{
  border-radius: 0;
}
.inbox-item .cmgt_group_member_dlt_btn img{
  border-radius: 0;
}
.cmgt_msg_txt_decoration{
  text-decoration: none;
}
.select2-container .select2-choice {
  background: #F2F5FA!important;
  border: 0px solid #aaa !important;
}
.select2-container .select2-choice .select2-arrow {
  display: none !important;
}
.select2-container .select2-choice {
  height: 31px!important;
}
.modal-header{
  border-bottom: 0px solid #dee2e6 !important;
}
@media (max-width: 768px){
  .modal-body #invoice_print .invoicefont1{
    margin-right: -120px !important;
  }
  .print_btn_rs{
    display: contents !important;
  }
  .pdf_btn_rs{
    display: contents !important;
  }
  .invoice_main_div_for_new_design{
    margin: -80px 0px 0px 0px !important;
  }
}
@media (max-width: 414px){
  .invoice_main_div_for_new_design{
    margin: -60px 0px 0px 0px !important;
  }
}

.cmgt_header_logo{
  width: 190px!important;
  height: auto!important;
}
.panel-body .account_settings_form{
  padding: 10px;
}
.panel-body #doctor_form{
  padding: 10px;
}
.dropdown_menu_icon {
  float: right;
}
.dropdown_icon_link {
  float: left;
  padding-top: 15px;
}
.add_more_icon_detailpage {
  float: right;
}
.action_dropdawn li {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 5px;
  /* height: 48px; */
}
.image_margin_right_10px {
  margin-right: 10px;
}
.action_dropdawn .float_left_width_100 a{
  text-decoration: none !important;
}
.action_dropdawn {
  background: #FFFFFF;
  box-shadow: 0px 24px 50px rgb(44 63 88 / 27%) !important;
  border: 0 !important;
  width: 220px;
}
.mailbox-content table tbody tr td {
  cursor: unset!important;
}
#chart_div{
  margin-top: 0 !important;
}
#myModal_import_csv{
  background: rgb(0 0 0 / 60%) !important;
}
.cmgt_gift_bt .cmgt_choose_btn_width{
  width: 55%;
}
#upload_gym_cover_preview img{
    height: 130px !important;
    width: 130px !important;
    border-radius: 30px;
    margin-top: 15px;
}
select.cmgt_select_frontend#ministry_id{
  width: 100%!important;
  height: 48px!important;
}
#myModal_Add_vanue {
  background: rgb(0 0 0 / 60%) !important;
}
#myModal_Add_group{
  background: rgb(0 0 0 / 60%) !important;
}
.no_data_donation img.no_data_img1{
  height: 210px;
}
img.no_data_img1{
  height: 170px;
  width: 170px;
}
.no_data_img_center {
  margin: 0 70px;
}
.cmgt_dashboard_btn a.cmgt_no_data_btn_color{
    background: #149A91;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
.col-md-12 .cmgt_dashboard_btn{
margin-top: -50px;
}
#cmgt_gift_overlay_width{
  width: 50%;
}
#chart_div text{
  font-family: 'Poppins'!important;
}
.cmgt_add_font_13px{
  font-size: 13px!important;
}
.message-content {
  padding: 0 0 10% 0!important;
}
div.updated {
  margin: 10px 0px!important;
}
.frontend_dashboard_margin{
  padding: 0!important;
}

element.style {
}
.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}
/* form .user_form .form-control {
    background: #F2F5FA!important;
} */
.wp-admin input[type=file] {
    padding: 3px 0;
    cursor: pointer;
}
/* .form-body .form-control {
    margin-bottom: 15px;
} */
.form-control[type=file] {
    overflow: hidden;
}
.modal {
  height: 90%!important;
}
.access_right_menucroll .checkbox {
  line-height: 36px;
}

/* @media screen and (-webkit-min-device-pixel-ratio:0) 
{
  .view_pateint_header_bg .view_user_phone .cmgt_phone_color{
    color: #CCDAE6!important;
  }
} */
.margin_bottom_10px{
  margin-bottom: 10px !important;
}
.submit_btn .save_btn_height_47px{
  height: 47px !important;
}
.notification_label{
  font-size: 14px !important;
  font-weight: 600 !important;
}
.replay_message_div .multiselect-native-select .dropdown-item input[type=checkbox]:checked::before {
    width: 20px!important;
}
.massage_div_20px_padding{
  padding: 20px;
}
.display_flex {
  display: flex;
}
.upload_image_btn{
  color: #FFFFFF !important;
  height: 34px;
  padding: 4px 8px;
  background: #22BAA0!important;
  border: 0!important;
  font-size: 16px!important;
  border-radius: 0!important;
  box-shadow: unset!important;
}
.no_data_list_div {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #818386;
  margin-top: 2%!important;
}
.no_data_img {
  height: auto;
  display: block;
  margin: auto;
}
.calendar-event-new {
  padding: 7px 10px;
  color: #5B5B5B;
  margin-bottom: 5px;
  overflow: hidden;
  height: auto;
}
/* validation msg css*/
@media screen and (max-width : 1400PX) and (min-width : 1200px) 
{
  /* .formError{
    left: 320px!important;
  }
  .cmgt_mobile_error .formError{
    left: 150px!important;
  } 
  .cmgt_select_error .formError{
    left: 900px!important;
  }  */
}
@media screen and (max-width : 1100PX) and (min-width : 1024PX) 
{
  .formError{
    left: 230px!important;
  }
  .cmgt_mobile_error .formError{
    left: 90px!important;
  } 
  .cmgt_select_error .formError {
    left: 665px!important;
  }
}
@media screen and (max-width : 820px) and (min-width : 768px) 
{
  .formError{
    left: 190px!important;
  }
  .cmgt_mobile_error .formError{
    left: 50px!important;
  } 
  .cmgt_select_error .formError {
    left: 630px!important;
  }
}
/* Datatable Header and Footer css - start */
.dataTable tfoot tr {
  display: none;
}
table.dataTable thead th{
  border-bottom: 1px solid #E1E3E6 !important;
  color: #ADAEB0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}
.table-responsive table .cmgt_heder_none{
  display: none!important;
}
.cmgt_heder_block tr th .select_all{
  margin-left: 0px!important;
}
.text_align_end {
  text-align: end;
}
/* Datatable Header and Footer css - End */
.gnrl_setting_image_background {
  background: #149a91;
  min-width: 100%;
  text-align: center;
}
#upload_system_logo_preview img{
  margin-top: 15px;
  margin-bottom: 15px;
}
.view_page_main #body_area {
  margin-top: 6%;
}
#cmgt_user_avatar_url
{
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main_home_page_div .accordion-button:not(.collapsed)
{
  color: #fff !important;
  background-color: #149a91 !important;
}
.main_home_page_div .accordion-button:not(.collapsed)::after
{
  background-image: url("../images/downarrow.png");
}
.main_home_page_div .accordion-button:focus
{
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}
.alert-dismissible .btn-close {
  padding: 0.9rem 1rem!important;
}
.other_data_logo {
  max-height: 91px;
  width: auto;
  /* margin-top: 15px;
  margin-bottom: 20px; */
}
.dob_text_transform {
  text-transform: none !important;
}
.cursor_poi_css{
  cursor: pointer!important;
}
.d-inline-block .space_radio{
  margin-top: 0px;
}
.modal-header.margin_bottom_20.space_re_no {
    margin-bottom: 0;
}

.panel-body .date_type_div_none {
  display: none;
}
.nav-tab-wrapper.front_report{
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding-bottom: 32px;
  margin-top: 20px;
}
.btn-place{
  padding-left : 7px;
}
.btn-place .dt-button.buttons-csv.buttons-html5 , .btn-place .dt-button.buttons-print{
  padding: 6px 15px !important;
  background-color: #149A91;
  color: white;
  border: none;
}
.netprofit_color{
  background-color: #44CB7F;
}
.margin_top_25px{
  margin-top : 25px !important;
}
.cmgt-line-chat-bottom.payment_dashboard span
{
  font-size: 22px !important;
}
.float_right{
  float : right ;
}
.padding_left_2px{
  padding-left : 2px !important;
}
.padding_top_5px{
  padding-top : 5px;
}
.padding_left_10px{
  padding-left: 10px;
}
.dropdown-menu.extended.logout
{
    width: 216px;
}
.save_btn.save_gift
{
  margin-top :3px !important;
}
.account_top{
  margin-top: 75px !important;
}
.margin_top_12px{
  margin-top : 12px !important;
}
.margin_left_10px{
  margin-left : 10px !important;
}
.margin_left_20px{
  margin-left : 20px !important;
}
.margin_bottom_10px{
  margin-bottom : 10px !important;
}
.margin_bottom_15px{
  margin-bottom : 15px !important;
}
.color_picker_input{
  width: 20% !important;
  float: right;
  height: 34px;
}
.color_picker_div_height {
  height: 50px;
}
.color_picker_label {
  margin-top: 1%;
}
.fc .fc-scrollgrid, .fc .fc-scrollgrid table {
  width: 94%;
}
.fc-scroller.fc-scroller-liquid-absolute{
  overflow: unset !important;
}
.flex-nowrap .overflow-auto{
  overflow-y: hidden;
}
.print_btn_rs.apps button
{
  background-color: unset !important;
}